<mat-toolbar class="navbar" color="primary">
  <h1><a mat-button [routerLink]="''">Tarjetas</a></h1>
  <span class="spacer"></span>
  <div class="buttons-box">
    <button mat-mini-fab color="warn" (click)="toggleMenu()">
      <mat-icon color="primary">apps</mat-icon>
    </button>
    <button mat-mini-fab color="warn" (click)="toggleMenu()">
      <mat-icon color="primary">settings</mat-icon>
    </button>
    <button mat-mini-fab color="warn" (click)="toggleMenu()">
      <mat-icon color="primary">logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
