<div class="course-container">
  <b *ngIf="loading$ | async">Loading . . .</b>
  <div *ngIf="!(loading$ | async)" style="width: 900px">
    <ng-container *ngIf="course$ | async as course">
      <app-card-box>
        <div class="title"><b>Vuelve donde lo dejaste</b></div>
        <div>
          {{ course.currentQuarter.title }} - Sesión {{ course.currentSession.index }}, {{ course.currentSession.title }}
        </div>
        <div class="buttons-box">
          <button type="button" (click)="goToSession(course.currentSession.id)"
                  mat-raised-button class="custom-button" color="accent">Reproducción ordenada</button>
          <button type="button"
                  mat-button class="custom-border-button" color="accent">Aleatorio</button>
          <button type="button"
                  mat-button class="custom-border-button" color="accent">Siguiente sesión</button>
        </div>
      </app-card-box>
      <h3 style="margin-top: 40px">Temario</h3>
      <div class="quarters-boxes">
        <button type="button" *ngFor="let quarter of course.quarters" (click)="goToQuarter(quarter.id)">
          <app-quarter-info [quarter]="quarter"></app-quarter-info>
        </button>
      </div>
    </ng-container>
  </div>
</div>
